.container {
	margin: 0 auto;
	width: 100%;
}

.container .content {
	margin: 0 auto;
	padding: 10px;
	width: 60%;
}

.container .header {
	margin: 0 auto;
	padding: 10px;
	width: 60%;
	text-align: center;
}