body {
	background: url(content/bg.png);
	background-color: #C7D0D5;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 96% 96%;
	color: #838996;
	font-family: Baskerville, serif;
	margin: 6%;
	padding: 0%;
}

h1 {
	text-align: center;
}

table {
	text-align: center;
}

.block {
	display: inline-block;
	margin: auto;
}





/*----------------------------------*/
/*-------->> CALCULATIONS <<--------*/
/*----------------------------------*/

.calculations {
	font-size: 80%;
	text-align: center;
}

div.calculations div {
	display: inline-block;
	height: 55px;
	vertical-align: middle;
	width: 20px;
}

div.calculations table.fourRows {
	display: inline-block;
	height: 60px;
}

div.calculations table.threeRows {
	display: inline-block;
	height: 60px;
	vertical-align: -50%;
}

div.calculations table.twoRows {
	display: inline-block;
	height: 60px;
	vertical-align: -100%;
}

.tdeath {
	font-weight: bold;
	max-width: 55px;
}

.tgilbert {
	font-weight: bold;
	text-align: right;
	max-width: 55px;
}





/*----------------------------------*/
/*---------->> TUTORIAL <<----------*/
/*----------------------------------*/

select {
	margin-bottom: 8%;
	margin-left: -.5%;
	margin-top: 2%;
	width: 98%;
}

.main-panel {
	display: inline-block;
	float: left;
	margin: 0%;
	height: 200px;
	width: 610px;
}

.shiny-input-container {
	width: 100%;
}

.side-panel {
	display: inline-block;
	float: left;
	margin: 0%;
	height: 200px;
	width: 200px;
}

.top-panel {
	display: block;
	height: 125px;
}





/*----------------------------------*/
/*----->> HYPOTHESIS TESTING <<-----*/
/*----------------------------------*/

#chiSqPlot, #residPlot {
	float: left;
	height: 185px;
	margin: 0%;
	width: 305px;
}

#summary {
	float: left;
	height: 15px;
	margin: 0%;
	width: 610px;
}

.top-top-left {
	border: 1px solid #FFFFFF;
	float: left;
	width: 74%;
}

.top-top-right {
	border: 1px solid #FFFFFF;
	float: left;
	width: 25%;
}




/*----------------------------------*/
/*-------->> SLIDER INPUT <<--------*/
/*----------------------------------*/

#cell-count {
	-webkit-appearance: none;
	background: #C7D0D5;
	border-radius: 3px;
	box-shadow: 3px 3px 3px #F5F5F5, 0px 0px 3px #FFFFFF;
	height: 10px;
	margin-bottom: 8%;
	margin-left: -.5%;
	margin-top: 2%;
	padding: 0%;
	width: 150px;
}

#cell-count::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #838996;
	border-radius: 3px;
	box-shadow: 3px 3px 3px #F5F5F5, 0px 0px 3px #FFFFFF;
	cursor: pointer;
	height: 17px;
	width: 12px;
	-webkit-transition: background .15s ease-in-out;
	transition: background .15s ease-in-out;
}

#cell-count::-moz-range-thumb {
	background: #838996;
	border-radius: 3px;
	box-shadow: 3px 3px 3px #F5F5F5, 0px 0px 3px #FFFFFF;
	cursor: pointer;
	height: 17px;
	width: 12px;
	-webkit-transition: background .15s ease-in-out;
	transition: background .15s ease-in-out;
}

#cell-count::-ms-thumb {
	background: #838996;
	border-radius: 3px;
	box-shadow: 3px 3px 3px #F5F5F5, 0px 0px 3px #FFFFFF;
	cursor: pointer;
	height: 17px;
	width: 12px;
}

.range-value {
	background: #282828;
	border-radius: 3px;
	color: #F5F5F5;
	display: inline-block;
	font-family: Baskerville;
	font-size: 80%;
	line-height: 15px;
	padding: 2px 2px;
	position: relative;
	margin-left: 0px;
	text-align: center;
	width: 35px;
}