body {
    background-color: hsl(80,93%,95%);
}

h1 {
  color: navy;
}

.header {
    color:navy;
    text-align:center;
    padding:5px;
}

.controls {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:200px;
    float:left;
    padding:5px; 
}

.section {
    width: 400px;
    padding:5px;
}

.output {
    padding:20px;
}

table.data {
  width: auto;
}
table.data td[align=right] {
  font-family: monospace;
  text-align: right;
}

.shiny-input-panel {
  padding: 6px 8px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
}

  .centeredImage
    {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    }
