<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <script type="application/shiny-singletons"></script>
  <script type="application/html-dependencies">json2[2014.02.04];jquery[1.11.0];shiny[0.10.2.1];bootstrap-datepicker[1.0.2];bootstrap[2.3.2];bootstrap-responsive[2.3.2]</script>
<script src="shared/json2-min.js"></script>
<script src="shared/jquery.js"></script>
<link href="shared/shiny.css" rel="stylesheet" />
<script src="shared/shiny.js"></script>
<link href="shared/datepicker/css/datepicker.css" rel="stylesheet" />
<script src="shared/datepicker/js/bootstrap-datepicker.min.js"></script>
<link href="shared/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="shared/bootstrap/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="shared/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
  <title>stockVis</title>
</head>

<body>
<div class="container-fluid">
  <h2 style="padding: 10px 0px;">stockVis</h2>
  <div class="row-fluid">
    <div class="span4">
      <form class="well">
        <span class="help-block">Select a stock to examine. 
        Information will be collected from yahoo finance.</span>
        <label for="symb">Symbol</label>
        <input id="symb" type="text" value="SPY"/>
        <div id="dates" class="shiny-date-range-input input-daterange">
          <label class="control-label" for="dates">Date range</label>
          <input class="input-small" type="text" data-date-language="en" data-date-weekstart="0" data-date-format="yyyy-mm-dd" data-date-start-view="month" data-initial-date="2013-01-01"/>
           to 
          <input class="input-small" type="text" data-date-language="en" data-date-weekstart="0" data-date-format="yyyy-mm-dd" data-date-start-view="month" data-initial-date="2015-06-04"/>
        </div>
        <button id="get" type="button" class="btn action-button">Get Stock</button>
        <br/>
        <br/>
        <label class="checkbox" for="log">
          <input id="log" type="checkbox"/>
          <span>Plot y axis on log scale</span>
        </label>
        <label class="checkbox" for="adjust">
          <input id="adjust" type="checkbox"/>
          <span>Adjust prices for inflation</span>
        </label>
      </form>
    </div>

    <div class="span8">
      <div id="plot" class="shiny-plot-output" style="width: 100% ; height: 400px"></div>
    </div>
  </div>
</div>

</body>
</html>
